body {
  height: 97.5vh;
  width: 90vw;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 550px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  border-radius: 9px;
}
.box--0 {
  height: 100%;
  width: 50%;

  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.5);
}
.box--1 {
  height: 100%;
  width: 50%;

  position: absolute;
  top: 0px;
  left: 50%;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center;
}
.btn {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: inherit;
  height: 70px;
  width: 200px;
  position: absolute;

  left: 300px;
  border-radius: 9px;
  padding: 4px;
  text-align: center;
  border: none;
  color: #444;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}
.btn--new {
  top: 10px;
}
.btn--roll {
  top: 340px;
}
.btn--hold {
  top: 450px;
  width: 150px;
  left: 325px;
}
img {
  top: 150px;
  height: 120px;
  width: 120px;
  left: 340px;
  position: absolute;
}
.currentscore--0 {
  height: 120px;
  width: 150px;
  position: absolute;
  background-color: #c7365f;
  top: 340px;
  left: 80px;
  border-radius: 9px;
}
.currentscore--1 {
  height: 120px;
  width: 150px;
  position: absolute;
  background-color: #c7365f;
  top: 340px;
  left: 170px;
  border-radius: 9px;
}
.current--0 {
  font-size: 1.3rem;
  color: white;
  font-style: inherit;
}
.current--1 {
  font-size: 1.3rem;
  color: white;
  font-style: inherit;
}
.curscore--0 {
  font-size: 1.5rem;
  color: white;
}
.curscore--1 {
  font-size: 1.5rem;
  color: white;
}
#player--0 {
  font-size: 2.5rem;
  top: 80px;
  left: 100px;
  letter-spacing: 1px;
  word-spacing: 2px;
  position: absolute;
  font-weight: 300;
  font-style: inherit;
}
#score--0 {
  top: 100px;
  left: 150px;
  position: absolute;
  font-size: 5rem;
  font-weight: 300;
  color: #c7365f;
}
#player--1 {
  font-size: 2.5rem;
  top: 80px;
  left: 100px;
  letter-spacing: 1px;
  word-spacing: 2px;
  position: absolute;
  font-weight: 300;
  font-style: inherit;
}
#score--1 {
  top: 100px;
  left: 150px;
  position: absolute;
  font-size: 5rem;
  font-weight: 300;
  color: #c7365f;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.5);
}
.player--active .player {
  font-weight: 500;
  font-size: 1.2rem;
}
.player--active .score {
  font-weight: 800;
  font-size: 1.2rem;
}
.hidden {
  display: none;
}
.player--winner {
  background-color: green;
}
.player--winner .player {
  color: red;
  font-weight: 1000;
}

.player--looser {
  opacity: 0.2;
}
